<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>${TITLE}</title>
        <link rel="stylesheet" href="assets/style.css"/>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="index.html">md2blog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarItems" aria-controls="navbarItems" aria-expanded="false" aria-label="Toggle navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarItems">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="posts.html">Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/itsmevjnk/md2blog" target="_blank">GitHub <i class="bi bi-box-arrow-up-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <main>
            <div class="container py-4">     
                ${CONTENT}
            </div>
        </main>
        <footer class="bg-primary text-light">
            <div class="container py-3">
                <a class="link-light link-underline-opacity-0" href="https://github.com/itsmevjnk" target="_blank">&copy; 2024 Thanh Vinh Nguyen (itsmevjnk)</a>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>