/* sticky footer */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* bottom border for headings */
h1, h2, h3, h4, h5, h6 {
    border-bottom: 0.2rem solid #dee2e6;
}

/* line wrap for pre */
pre {
    white-space: pre-wrap;
}
